<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	    <!-- DATABASE INFORMATION: to edit as needed! -->
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/simplejson</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout for debugging -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Load in the mapping files describing the database schema -->
    <mapping resource="com/natehardison/simplejson/domain/Person.hbm.xml" />
    <mapping resource="com/natehardison/simplejson/domain/Vehicle.hbm.xml" />
	</session-factory>
</hibernate-configuration>
